{# Base Template: base.twig #}
<!-- Begin HTML -->
{% include 'html-start.twig' %}

{# @block html_head_container Block to override <html> header content #}
{% block html_head_container %}

	<!-- Begin HTML head -->
	{% include 'html-header.twig' %}

	{# @block head Block to append template-specific stuff that needs to go in the <head> tag like custom meta tags #}
	{% block head %}
		<!-- No <head> tag injections defined for this page -->
	{% endblock %}
	</head>
	<!-- End HTML Head -->
{% endblock %}

	<!-- Begin Page Body -->
	<body class="{{body_class}}" data-template="base.twig">
		<header class="header u-cf" >
			{% block header %}
				<div id="masthead" class="wrapper container">
						<div id="logo" class="wrapper">
							<img src="/wp-content/themes/timber-weekly/logos/nw-trans.png" />
						</div>
						<h1 role="banner">{{site.name}}</h1>
				</div>
				<div id="nav-wrapper" class="wrapper">
					<nav id="nav-main" class="nav-main container" role="navigation">
						{% include "menu.twig" with {'menu': menu.get_items} %}
					</nav><!-- #nav -->
				</div>
			{% endblock %}
		</header>
		<!-- Begin Page Content -->
		<section id="main-content" role="main" class="container">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>
		<!-- End Page Content -->

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
	<!-- End Page Body -->
</html>
<!-- End HTML -->
