{# Base Template: base.twig #}
<!-- Begin HTML -->
{% include 'html-start.twig' %}

{# @block html_head_container Block to override <html> header content #}
{% block html_head_container %}

	<!-- Begin HTML head -->
	{% include 'html-header.twig' %}

	{# @block head Block to append template-specific stuff that needs to go in the <head> tag like custom meta tags #}
	{% block head %}
		<!-- No <head> tag injections defined for this page -->
	{% endblock %}
	</head>
	<!-- End HTML Head -->
{% endblock %}

	<!-- Begin Page Body -->
	<body class="{{body_class}}" data-template="base.twig">
		<header class="header u-cf" >
			{% block header %}
				<div id="masthead" class="wrapper container">
						<h1 role="banner">{{site.name}}</h1>
				</div>
				<div id="nav-wrapper" class="wrapper">
					<nav id="nav-main" class="nav-main" role="navigation">
						<span id="logo"></span>
						<span id="nav-masthead" class="masthead-text"></span>
						{# {% include "menu.twig" with {'menu': menu.get_items} %} #}
						<span id="nav-button" class="wrapper u-pull-right">
							<label id="nav-m-label" for="nav-m-button">Menu</label>
							<span id="nav-m-button" class="icon fa fa-bars" title="Menu" aria-hidden="true"></span>
						</span>
					</nav><!-- #nav -->
				</div>
				<div id="nav-sub-wrapper" class="wrapper">
					<div id="nav-sub" >
						<span id="nav-sub-items">
							<a>Obituaries</a>
							<a>Classifieds</a>
							<a>Gallery</a>
							<a>Contact Us</a>
						</span>
						<span id="search-icon" class="icon-sm fa fa-search u-pull-right"></span>
					</div>
					<div id="search-wrapper" class="wrapper">
						<div id="nav-search">
							<label for="search-box">Search: </label><input id="search-box" type="text" />
						</div>
					</div>
				</div>
				<div id="top-ad-wrapper" class="wrapper">
					<div id="top-ad">top-ad</div>
				</div>
			{% endblock %}
		</header>

		<!-- Begin Side Nav -->
		<div id="content-overlay" class="content-mask m-target"></div>
		<nav id="nav-side-header" class="nav-side m-target">Nav Menu</nav>
		<nav id="nav-side-body" class="nav-side m-target">Nav Content</nav>
		<!-- End Side Nav -->

		<!-- Begin Page Content -->
		<section id="main-content" role="main" class="container">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>
		<!-- End Page Content -->

		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
	<!-- End Page Body -->
</html>
<!-- End HTML -->
